/* Contenedor principal */
.recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Estilo para la lista de recetas */
.recipes-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 2rem; /* Espacio entre las tarjetas */
  list-style-type: none;
  padding: 0;
}

/* Tarjeta de receta */
.recipe-card {
  position: relative;
  perspective: 1000px;
  width: 100%;
  height: 350px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-name {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-family: "Caveat", cursive;
  color: #4f46e5;
}

.card-back {
  background: #f4f4f4;
  padding: 1rem;
  transform: rotateY(180deg);
  text-align: left;
}

.recipe-card:hover .card-front {
  transform: rotateY(180deg);
}

.recipe-card:hover .card-back {
  transform: rotateY(360deg);
}

.ingredients-list {
  padding-left: 1rem;
}

h4 {
  margin: 0.5rem 0;
  font-family: "Caveat", cursive;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .recipes-list {
    grid-template-rows: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .recipes-list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Dos columnas en pantallas más pequeñas */
  }

  .recipe-card {
    height: 300px;
  }

  .recipe-name {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .recipes-list {
    grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
  }
}
